<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News from Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body bgcolor="#ac3939" text="#f8f8f8", link="ffff66" vlink="ff9900" alink="000000">
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Current News from Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape for the Latest Info</a></p>
      </div>
      <div class="col-md-12">
        <h1 class="heading">Hot News from The Red Planet</h1>
        <div class="row" id="mars-headline">
          <h2>{{mars.headline}}</h2>
          <h4>{{mars.paragraph_text}}</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Current Featured Image</h2>
        <img src="{{mars.featured_image}}" class="img-responsive">
      </div>
      <div class="col-md-4">
        <h2>Most Recent Mars Weather Tweet</h2>
        <div id="images_header">
          <p>{{mars.weather}}</p>
          <br><br>
          <div class="row">
            <h3>Mars Facts</h3>
            {{mars.facts | safe}}
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:100px;">
      <center><h2 class="header">Mars Hemispheres</h2></center>


      {% for hemisphere in mars.hemispheres %}
      <div class="col-md=6">
        <img src="{hemisphere.img_url}}">
        <div class="caption">
          <h3>{{hemisphere.title}}</h3>
        </div>
        {% endfor %}

      </div>
    </div>
    <br><br>
    <div class="col-md-12">
      <h3><a href="https://www.amazon.com/Martian-Andy-Weir/dp/0553418025/">Most Excellent Mars Fiction</a></h3>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>

</html>
