body {
  margin-bottom: 150px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
  background-color: #bf4040;
  color: #bad1ef;
}
/* ----IMAGE NAV START---- */

#imageNav-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #222a68;
}

.imageNav-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
  color: #a3bed1;
}

.imageNav-photo {
  width: 140px;

  /* Box-model */
  height: 100px;
}

.imageNav-photo:hover {
  /* Visuals */
  opacity: 0.6;
}

.imageNav-photo.active {
  /* Visuals */
  border: 2px solid #000000;
}

#images {
  /* Box-model */
  padding-top: 15px;
  padding-bottom: 15px;
  /* Typography */
  text-align: center;
}

/* ----IMAGE NAV END---- */
